body{
    background-color:aliceblue;
    border-width: 5px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color:cadetblue;
    text-align: center;
    
}
h2{
    color: cadetblue;
}

.ip{
    align-content: center   ;
    margin-left: 574px;
    text-align: center ;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
    height:250px;
    color: white;
}



p{
    text-align: center;
    font-size: 2em;
    margin-block: 10px;
}




button{
    
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
    padding: 5px 5px;
    margin-top: 5px;
    margin-left: 205px;
    text-decoration:double;
    display: block;
    font-size: 20px;
    
    width: 90px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color:darkcyan;
}

.m{
    margin-left: 2px;
    text-align: left;
    width:300px;
    height:fit-content;
    border-radius: 0px;
    background-color: cadetblue;
    color:aliceblue;
}
.hidden{
    display:none;
    
}
input{
    margin-top: 5px;
    height: 30px;
    border:none;
    border-radius: 5px;
    
}

.panel{
    text-align: left;
    background-color: darkcyan;
    color:aliceblue;
    font-weight:100;
    
    width: 290px;
    min-height: 30px;
    max-height: 100px;
    border-radius: 5px;
    padding:5px;
    
    margin-left: 2px;
    
}
.panel:hover{
    overflow-y: scroll;
}

